<%- include("./partials/header") %>
<style>
    .body {
        padding: 10px;
        margin-top: 2em;
        margin-bottom: 3em;
    }
    .abt {
        margin-bottom: 3em;
    }
    .head {
        text-align: center;
        font-weight: bolder;
        letter-spacing: 1.5px;
        color: #1c09c9;
        font-family: 'Poiret One', cursive;
        padding: 20px;
        margin-bottom: 40px;
    }
    h3 {
        text-align: center;
        letter-spacing: 1px;
        color: #1c09c9;
        padding: 8px;
    }
    p {
        font-size: 18px;
        padding: 10px;
        font-family: 'Poiret One', cursive;
    }
    img {
        width: 100%;
        border-radius: 20px;
    }
</style>

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
</div>

<div class="about">
    <div class="container">
      <div class="body">
          <h1 class="head">WELCOME TO CMP CLOTHING</h1>
        <div class="row abt">
            <div class="col-md-6">
                <img src="/images/cloth-16.jpg" alt="" style="margin-top: 2em;">
            </div>
            <div class="col-md-6">
                <h3>About CMP Clothing</h3>
                <p>
                    CMP Clothing is a wholly based Global Fashion Design Home with focus on all wears. The concept is modelled 
                    to meet your aspirations relating to all wears: Men and Women.
                </p>
                <p>
                    Our scope of business covers Designs, Wholesale and Retail outfits. To strengthen business, Orders 
                    received are being given accelerated due attention via our Website, Emails or Telephone.
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row abt">
            <div class="col-md-6">
                <h3>Our Mission</h3>
                <p>
                    CMP Clothing is devoted to overall clothings for all genders covering a wide range of attires.
                </p>
                  <h3>Our Vision</h3>
                  <p>
                      We are aimed at promoting best fit clothings for every every gender and with focus striving for 
                      better service delivery.
                  </p>
                  <p>Thank you for believing in Us.</p>
            </div>
            <div class="col-md-6">
                <img src="/images/cloth-17.jpg" alt="" style="height: 400px;">
            </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
</div>


<%- include("./partials/footer") %>